@import "tailwindcss";

@theme {
  --color-primary: #181760;
  --color-primary-foreground: #ffffff;
  --color-secondary: #2b2aa0;
  --color-accent: #ffd700;
  --color-surface: #f9f9f9;
  --color-nav-active: #fffbe6;
  --color-modal: #FFD700;
  --radius-xl: 14px;
  --radius-2xl: 16px;
  --radius-3xl: 18px;
  --font-sans: "Arial", sans-serif;
}
